<%= link_to department, class: "list-row list-row--link flex items-center justify-between bg-surface hover:text-orange-600" do %>
  <div class="flex flex-col gap-half">
      <h5 class="text-sm leading-none font-medium"><%= department.name %></h5>
      <p class="text-sm text-subtle"><%= department.employees.count %> Employees</p>
  </div>

  <div>
    <%= pluralize(department.devices.count, "Device") %>
  </div>
<% end %>