<div class="flex justify-between items-center gap i-full">
  <div style="max-width: 40dvw;">
    <span class="font-semibold"><%= yield(:page_header) || "Dashboard" %></span>
  </div>

  <div class="flex items-center gap">
    <div class="flex-grow flex justify-center">
      <%= form_with url: search_path, method: :get, class: "relative w-full max-w-md", data: { turbo_frame: "main_content" } do |f| %>
        <label class="input input--actor flex items-center gap">
          <span class="icon icon--search" aria-hidden="true"></span>
          <%= text_field_tag :query, nil, placeholder: "Search Devices, IPs, People...", autocomplete: "on" %>
      <% end %>
    </div>
    
    <div>
      <%= yield :header_action_buttons %>
    </div>

    <!--<%# trigger = button_tag type: "button", class: "btn btn--icon hide@md", data: { action: "dialog#showModal" } do %>
      <span class="icon icon--sun icon--color-scheme-light" aria-hidden="true"></span>
      <span class="icon icon--moon icon--color-scheme-dark" aria-hidden="true"></span>
      <span class="sr-only">Theme switcher</span>
    <%# end %>

    <%#= modal_dialog trigger, title: "Select a theme" do %>
      <div class="menu bg-main" data-controller="menu" data-action="keydown->menu#navigate" role="menu">
        
        <button type="button" class="btn menu__item bg-main" data-action="dialog#close color-scheme#setLight" data-menu-target="item" role="menuitem">
          <span class="icon icon--sun"></span>
          Light
        </button>
        <button type="button" class="btn menu__item bg-main" data-action="dialog#close color-scheme#setDark" data-menu-target="item" role="menuitem">
        <span class="icon icon--moon"></span>
          Dark
        </button>
        <button type="button" class="btn menu__item bg-main" data-action="dialog#close color-scheme#setSystem" data-menu-target="item" role="menuitem">
          <span class="icon icon--laptop"></span>
          System
        </button>
      </div>
    <%# end %>-->
  </div>
</div>