<% content_for :title, "Edit Device" %>

<%= render "shared/modal" do %>
  <div data-action="turbo:submit-end->modal#submitEnd">
    <h1 class="font-bold text-2xl mbe-4">Edit Device </h1>
    <%= render "form", device: @device %>
  </div>
<% end %>