<% content_for :title, "New Asset" %>

<%= render "shared/modal" do %>
  <div data-action="turbo:submit-end->modal#submitEnd">
    <h1 class="font-semibold text-2xl mbe-4">New Asset</h1>
    <%= render "form", device: @device %>
  </div>
<% end %>