<h1 class="text-3xl font-bold"><%= @department.name %></h1>
<div class="text-subtle text-sm">
    Branch: <%= link_to @department.branch.name, @department.branch, class: "hover:underline text-orange-500" %>
</div>