<%= link_to device, class: "list-row list-row--link flex items-center justify-between bg-surface hover:text-orange-600" do %>
    <div class="flex flex-col gap-half">
        <h5 class="text-sm leading-none font-medium"><%= device.name %></h5>
        <p class="text-sm text-subtle"><%= device.device_type.humanize %></p>
    </div>
  
    <div>
        <% if device.employee.present? %>
            <div class="text-xs text-subtle"><%= device.employee&.first_name %></div>
        <% end %>
    </div>
<% end %>