queues:
  monitoring:
    concurrency_limit: 5
    timeout: 360

  default:
    concurrency_limit: 10

  workers:
    # Worker Pool #1: Dedicated to monitoring
    - queues: monitoring
      threads: 2
      polling_interval: 5

    # Worker Pool #2: General Purpose "Catch-All" Workers
    - queues: default
      threads: 3
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.1

# default: &default
#   dispatchers:
#     - polling_interval: 1
#       batch_size: 500
#   workers:
#     - queues: "*"
#       threads: 3
#       processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
#       polling_interval: 0.1

# development:
#   <<: *default

# test:
#   <<: *default

# production:
#   <<: *default
