<% content_for :title, "Dashboard" %>

<% content_for :page_header do %>
  <h4 class="font-semibold">Dashboard</h4>
<% end %>


<div class="p-4 i-full">

    <h1 class="text-center text-5xl">Dashboard page coming soon..</h1>

</div>